<div [attr.useValidation]="useValidation" [attr.data]="data" [attr.group]="group" >
    <!--JUI FORM builder component -->
    <!--<app-legend [classes]="legendClasses">-->
        <!--test legend-->
    <!--</app-legend>-->
    <!--<app-hint [classes]="hintClasses">-->
        <!--Test hint-->
    <!--</app-hint>-->
    <!--<app-radiobutton [classes]="radiobuttonClasses"-->
                     <!--[items]="radioItems"-->
                     <!--[group]="group"-->
                     <!--[control]="radiosControl"-->
                     <!--[idPrefix]="idPrefix">-->
    <!--</app-radiobutton>-->
    <div *ngIf="data.checkbox" class="govuk-checkboxes">
        <app-checkbox [group]="group"
                      [idPrefix]="data.checkbox.control"
                      [items]="data.checkbox"
                      [classes]="'govuk-checkboxes__item'"
                      [labelClasses]="'govuk-label govuk-checkboxes__label'">
            <div class="govuk-form-group">
            <div *ngIf="data.checkbox.groups" class="govuk-checkboxes__conditional">

                    <ng-container  *ngFor="let subgroup of data.checkbox.groups">
                        <app-fieldset *ngIf="subgroup.fieldset"
                                      [classes]="'govuk-fieldset'"
                                      [group]="group"
                                      [data]="subgroup.fieldset">
                        </app-fieldset>
                        <app-jui-form-elements [useValidation]="useValidation" [group]="group" [data]="subgroup"></app-jui-form-elements>
                    </ng-container>
                </div>
            </div>

        </app-checkbox>
    </div>
    <div>jui form {{useValidation}}</div>
    <!-- So the showValidation is only coming in here fine intially -->
    <app-textareas *ngIf="data.textarea" [classes]="'govuk-textarea'"
                    [showValidation]="useValidation"
                    [validationError]="data.textarea.validationError"
                    [group]="group"
                    [control]="data.textarea.control"
                    [label]="data.textarea.label"
                    [labelFor]="data.textarea.control"
                    [rows]="5">
    </app-textareas>
    <!--JUI FORM builder component -->
</div>
