
    <!--<ng-container  [formGroup]="group" *ngFor="let item of items; let i = index">-->
        <!--<div [class]="classes">-->
            <!--<input class="govuk-checkboxes__input" id="{{idPrefix + '-' + (i+1)}}" ([formControlName])="item.control" type="checkbox" [value]="item.value">-->
            <!--<app-label [class]="labelClasses" [forElement]="idPrefix + '-' + (i+1)">{{item.text}}</app-label>-->
        <!--</div>-->
        <!--<div class="govuk-checkboxes__conditional" *ngIf="item.sub">-->
            <!--<div class="govuk-form-group">-->
                <!--<app-fieldset *ngIf="item.sub.fieldset" [classes]="'govuk-fieldset'">-->
                    <!--<app-legend *ngIf="item.sub.fieldset.legend" [classes]="'govuk-fieldset__legend' + ' ' + item.sub.fieldset.legend.classes">-->
                        <!--{{ item.sub.fieldset.legend.text}}-->
                    <!--</app-legend>-->
                    <!--<ng-container *ngIf="item.sub.fieldset.checkboxes">-->
                        <!--<app-checkbox [group]="group"-->
                                      <!--[idPrefix]="idPrefix"-->
                                      <!--[items]="item.sub.fieldset.checkboxes"-->
                                      <!--[classes]="'govuk-checkboxes__item'"-->
                                      <!--[labelClasses]="'govuk-label govuk-checkboxes__label'">-->
                        <!--</app-checkbox>-->
                    <!--</ng-container>-->
                <!--</app-fieldset>-->
            <!--</div>-->
        <!--</div>-->
    <!--</ng-container>-->


    <div class="govuk-checkboxes__item" [formGroup]="group">
        <input class="govuk-checkboxes__input" [formControlName]="items.control" id="item.control" type="checkbox" [value]="items.value">
        <app-label [class]="labelClasses" [forElement]="items.control">{{items.text}}</app-label>
    </div>

