<div class="hmcts-identity-bar__actions">
    <div *ngIf="actionPrimaryButton || actionSecondaryButton" class="hmcts-page-heading__actions-wrapper">
        <a *ngIf="actionPrimaryButton" [routerLink]="actionPrimaryButton.href" role="button" class="govuk-button hmcts-page-heading__button">
            {{actionPrimaryButton.text}}
        </a>
        <a *ngIf="actionSecondaryButton"  [routerLink]="actionSecondaryButton.href" role="button" class="govuk-button hmcts-page-heading__button hmcts-button--secondary">
            {{actionSecondaryButton.text}}
        </a>
    </div>
</div>
