<app-casebar [case]="case"></app-casebar>
<app-hmcts-details-bar [reference]="reference" title="title" [items]="items" ></app-hmcts-details-bar>

<app-hmcts-menu></app-hmcts-menu>

<div data-selector="case-viewer-component">
    <div class="jui-width-container">
        <main id="content" role="main" class="govuk-main-wrapper">
            <app-hmcts-sub-navigation [items]="sections"></app-hmcts-sub-navigation>
            <app-case-viewer [case]="case" [sectionId]="sectionTabName"></app-case-viewer>
        </main>
    </div>
</div>

