<div class="hmcts-identity-bar">
    <div class="hmcts-identity-bar__container">
        <div class="hmcts-identity-bar__details" *ngIf="case">
            <span class="hmcts-identity-bar__title"
                *ngIf="case.details.fields[0]"
                data-selector="data-casebar-details-component" class="jui-casebar__reference">{{case.details.fields[0].value}}
            </span>
            <span
                *ngIf="case.details.fields[1]"
                data-selector="data-casebar-title-component" class="jui-casebar__title"> <b> {{case.details.fields[1].value}}</b>
            </span>
        </div>
    </div>
    <app-case-actions
        [actionPrimaryButton]="createLink"
        [actionSecondaryButton]="hearingLink"
    ></app-case-actions>
</div>

<!--<app-hmcts-details-bar [reference]="case.details?.fields[0].value || ''" [title]="{ html: case.details?.fields[1].value || ''}" [items]="[]"></app-hmcts-details-bar>-->
