<app-govuk-back-link></app-govuk-back-link>
<main class="govuk-main-wrapper" role="main">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 *ngIf="pageitems" class="govuk-heading-xl">{{pageitems.header}}</h1>
            <form *ngIf="pageitems" [formGroup]="rejectReasonsForm" (ngSubmit)="onSubmit()">
                <div class="govuk-form-group"  *ngFor="let group of pageitems.groups; let gIndex = index">

                    <app-fieldset *ngIf="group.fieldset" [classes]="'govuk-fieldset'">
                        <p>Content Test JUI Form builder components</p>
                        <app-legend [classes]="'govuk-fieldset__legend govuk-fieldset__legend--m'">
                            {{ group.fieldset.legend.text}}
                        </app-legend>
                        <app-hint [classes]="'govuk-hint'">
                            {{group.fieldset.hint.text}}
                        </app-hint>
                        <app-radiobutton *ngIf="group.fieldset.radios"
                                         [classes]="'govuk-radios govuk-radios--inline'"
                                         [items]="group.fieldset.radios.radioGroup"
                                         [group]="rejectReasonsForm"
                                         [control]="group.fieldset.radios.control"
                                         [idPrefix]="pageitems.idPrefix">
                        </app-radiobutton>
                        <p>End Content Test JUI Form builder components</p>
                    </app-fieldset>


                    <fieldset *ngIf="group.fieldset" class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                          {{ group.fieldset.legend.text}}
                        </legend>

                        <span class="govuk-hint">{{group.fieldset.hint.text}}</span>
                        <div *ngIf="group.fieldset.checkboxes" class="govuk-checkboxes">
                            <ng-container  *ngFor="let item of group.fieldset.checkboxes; let i = index">
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" type="checkbox" id="{{pageitems.idPrefix + '-' + (i+1)}}" formControlName="{{item.control}}">
                                    <label class="govuk-label govuk-checkboxes__label" for="{{pageitems.idPrefix + '-' + (i+1)}}">
                                    {{item.text}}
                                    </label>
                                </div>
                                <div class="govuk-checkboxes__conditional" *ngIf="item.sub">
                                    <div class="govuk-form-group">
                                        <fieldset class="govuk-fieldset">
                                            <ng-container *ngIf="showOther2 && item.sub.textareas">
                                                <legend *ngIf="item.sub.legend" class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                                    {{ item.sub.legend }}
                                                </legend>
                                                <textarea class="govuk-textarea" rows="5" formControlName="{{item.sub.textareas[0].control}}"></textarea>
                                            </ng-container>
                                            <ng-container *ngIf="showChildrenCheckboxes && item.sub.checkboxes">
                                                <legend *ngIf="item.sub.legend" class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                                    {{ item.sub.legend }}
                                                </legend>
                                                <app-checkbox [items]="item.sub.checkboxes" [group]="rejectReasonsForm" [idPrefix]="pageitems.idPrefix" >
                                                    <ng-container  *ngFor="let subitem of item.sub.checkboxes; let j = index">
                                                        <div  class="govuk-checkboxes__conditional" id="conditional-reject-3" *ngIf="subitem.sub">
                                                            <div  class="govuk-form-group">
                                                                <fieldset class="govuk-fieldset">
                                                                    <ng-container *ngIf="showOther">
                                                                        <div *ngIf="subitem.sub.legend">
                                                                            <label class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                                                                {{subitem.sub.legend}}
                                                                            </label>

                                                                            <app-label [class]="'govuk-fieldset__legend govuk-fieldset__legend--m'"
                                                                                       [attr.for]="'replace to relevant element later'">
                                                                                {{subitem.sub.legend}}
                                                                            </app-label>
                                                                        </div>

                                                                        <!-- so this should show, when the user clicks submit -->
                                                                        <!-- so this should show, if the textfield is not valid -->
                                                                        <!-- should this part of the component? It makes sense if it's -->
                                                                        <!-- abstracted, otherwise you'll be adding it to all components-->
                                                                        <!-- So we need to show the error message, when the control is invalid -->

                                                                        <app-validation-error-label [group]="rejectReasonsForm" [linkToControl]="'informationNeeded'">Enter what information is needed</app-validation-error-label>

                                                                        <!-- Should we pass in the class to apply -->
                                                                        <app-textareas *ngIf="subitem.sub.textareas"
                                                                                      [classes]="'govuk-textarea govuk-textarea--error'"
                                                                                      [rows]="5"
                                                                                      [group]="rejectReasonsForm"
                                                                                      [control]="subitem.sub.textareas[0].control">
                                                                        </app-textareas>
                                                                        <!--<div *ngIf="subitem.sub.textareas">-->


                                                                            <!--<textarea class="govuk-textarea" rows="5" formControlName="{{subitem.sub.textareas[0].control}}"></textarea>-->

                                                                        <!--</div>-->
                                                                    </ng-container>
                                                                </fieldset>
                                                            </div>
                                                        </div>
                                                    </ng-container>
                                                </app-checkbox>
                                            </ng-container>
                                        </fieldset>
                                    </div>
                                </div>
                            </ng-container>
                        </div>


                        <app-radiobutton *ngIf="group.fieldset.radios"
                                         [classes]="'govuk-radios govuk-radios--inline'"
                                         [items]="group.fieldset.radios.radioGroup"
                                         [group]="rejectReasonsForm"
                                         [control]="group.fieldset.radios.control"
                                         [idPrefix]="pageitems.idPrefix">
                        </app-radiobutton>

                        <!--<div *ngIf="group.fieldset.radios" class="govuk-radios govuk-radios&#45;&#45;inline">-->
                            <!--<div class="govuk-radios__item" *ngFor="let item of group.fieldset.radios.radioGroup; let r = index">-->
                                <!--<input class="govuk-radios__input" id="{{pageitems.idPrefix + '-' + (r+1)}}" type="radio" [value]= "item.value" formControlName="{{group.fieldset.radios.control}}">-->
                                <!--<label class="govuk-label govuk-radios__label" for="{{pageitems.idPrefix + '-' + (r+1)}}">-->
                                    <!--{{item.text}}<span class="govuk-visually-hidden">{{item.hiddenAccessibilityText}}</span>-->
                                <!--</label>-->
                            <!--</div>-->
                        <!--</div>-->
                    </fieldset>
                    <ng-container *ngIf="group.textarea">
                        <label *ngIf="group.textarea.label" class="govuk-label govuk-label--m" for="{{group.textarea.label}}">
                            {{group.textarea.label}}
                        </label>
                        <textarea class="govuk-textarea" formControlName="{{group.textarea.control}}" name="{{group.textarea.label}}" id="{{group.textarea.label}}" rows="5"></textarea>
                    </ng-container>
                </div>
                <ng-container *ngIf="pageitems.buttons">
                    <ng-container *ngFor="let button of pageitems.buttons; let bi = index;">
                        <app-buttons [classes]="'govuk-button'"
                                     [typeBtn]="'submit'"
                                     [group]="rejectReasonsForm"
                                     [control]="button.control">
                        </app-buttons>
                    </ng-container>
                </ng-container>
            </form>
        </div>
    </div>
</main>

