<ng-container [formGroup]="group">
    <app-label *ngIf="label"
               [label]="label"
               [class]="'govuk-label ' + label.classes"
               [forElement]="labelFor">{{label.text}}
    </app-label>
    <!-- This could be abstracted to the parent to make it cleaner -->
    <ng-container *ngIf="validationError">
        <app-validation-error-label *ngIf="showValidation" [group]="group" [linkToControl]="control">{{validationError.value}}</app-validation-error-label>
    </ng-container>
    <!-- !This could be abstracted to the parent -->
    <textarea [class]="classes"
              [ngClass]="{'govuk-textarea--error':isControlInvalidAndShowValidation(group, control, showValidation)}"
              [rows]="rows"
              [id]="labelFor"
              [formControlName]="control"></textarea>
</ng-container>
