<div [ngClass]="{'govuk-form-group': true, 'govuk-form-group--error': error}" [formGroup]="formGroup">
  <label class="govuk-label govuk-label--m" for="{{id}}" [attr.data-selector]="id + '-label'">{{label}}</label>
  <span *ngIf="error" id="{{id}}-error" class="govuk-error-message">{{errorMessage}}</span>
  <div class="jui-editor">
    <div class="jui-editor__toolbar" role="toolbar">
      
      <button class="jui-editor__toolbar-button jui-editor__toolbar-button--bold" type="button"
        data-command="bold"
        tabindex="{{selectedStyleButton === 'bold' || selectedStyleButton === undefined ? 0 : -1}}"
        (click)="applyCommand($event)"
        (focus)="changeTabIndex($event)"
        (keydown)="changeFocus($event)"
      ><span class="govuk-visually-hidden">Bold</span></button>

      <button class="jui-editor__toolbar-button jui-editor__toolbar-button--italic" type="button"
        data-command="italic"
        tabindex="{{selectedStyleButton === 'italic' ? 0 : -1}}"
        (click)="applyCommand($event)"
        (focus)="changeTabIndex($event)"
        (keydown)="changeFocus($event)"
      ><span class="govuk-visually-hidden">Italic</span></button>

      <button class="jui-editor__toolbar-button jui-editor__toolbar-button--underline" type="button"
        data-command="underline"
        tabindex="{{selectedStyleButton === 'underline' ? 0 : -1}}"
        (click)="applyCommand($event)"
        (focus)="changeTabIndex($event)"
        (keydown)="changeFocus($event)"
      ><span class="govuk-visually-hidden">Underline</span></button>

      <button class="jui-editor__toolbar-button jui-editor__toolbar-button--unordered-list" type="button"
        data-command="insertUnorderedList"
        tabindex="{{selectedStyleButton === 'insertUnorderedList' ? 0 : -1}}"
        (click)="applyCommand($event)"
        (focus)="changeTabIndex($event)"
        (keydown)="changeFocus($event)"
      ><span class="govuk-visually-hidden">Unordered list</span></button>

      <button class="jui-editor__toolbar-button jui-editor__toolbar-button--ordered-list" type="button"
        data-command="insertOrderedList"
        tabindex="{{selectedStyleButton === 'insertOrderedList' ? 0 : -1}}"
        (click)="applyCommand($event)"
        (focus)="changeTabIndex($event)"
        (keydown)="changeFocus($event)"
      ><span class="govuk-visually-hidden">Ordered list</span></button>

    </div>

    <app-textarea-custom 
      [id]="id" 
      formControlName="{{id}}"
      [error]="error"
      [disable]="disable"
      [text]="text"
    ></app-textarea-custom>

  </div>
</div>
