////////////////////////////////////////
// comment-item.component.scss
////////////////////////////////////////

form {
  padding-left: 2px;
  padding-right: 2px;
  margin-bottom: 5px;
  background-color: #ffffff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3), inset 0 -1px 0 0 #DDDDDD;
  padding: 20px 20px 0;
}

form textarea {
  width: 100%;
  min-height: 65px;
  max-height: 200px;
  padding: 2px;
  border: none;
  
  font-size: 17px;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

.mimic-focus {
  outline-offset: -2px;
  outline: -webkit-focus-ring-color auto 5px;
}

////////////////////////////////////////
////////////////////////////////////////
