<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1"
     data-module="error-summary">
    <h2 class="govuk-error-summary__title" id="error-summary-title">
        There is a problem
    </h2>
    <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
            <!-- TODO : rename validationHeaderControl -->
            <li *ngFor="let headerValidationMessage of validationHeaderControls">

                <ng-container *ngIf="isValidationLevel(headerValidationMessage.validationLevel, 'formcontrol') && !isControlValid(group, headerValidationMessage.linkToControl)">
                    <a href="headerValidationMessage.pageLink">{{headerValidationMessage.value}}</a>
                </ng-container>
                <ng-container *ngIf="isValidationLevel(headerValidationMessage.validationLevel, 'formgroup') && isValidationError(group, headerValidationMessage.identifier)">
                    <a href="headerValidationMessage.pageLink">{{headerValidationMessage.value}}</a>
                </ng-container>
            </li>
        </ul>
    </div>
</div>